@{
    ViewData["Title"] = "Piracy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Whatever the voyage ye hanker to start</p>
<p>May pirate courage full up her heart!</p>
<p>May fair winds blow ye wherever ye go</p>
<p>And yer ship remain sturdy me hearty , yo ho! </p>