
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<form asp-method="post" asp-action="result">
    <p>What is ye first name arrrrrrrrr</p>
    <input type="text" FirstName="FirstName" />
    <p>What is ye last name arrrrrrrrrr</p>
    <input type="text" LastName="LastName" />
    <p>What is ye first computery email thingy address arrrrrr</p>
    <input type="email" Email="email" />
    <p>What is your secret password it stays with me until Davey Jones Locker arrrrrrrr</p>
    <input type="password" Password="password" />

    <input type="submit" />
</form>